*{
    margin:0;
    padding:0;
}
html{
    width: 99vw;
    /* height: 2500px; */
    /* height: 14040px; */
    font-family: 'Noto Serif KR', serif;
    /* background-color: black; */
    color:white;    /*모든 text white color*/
}
body{ -ms-overflow-style: none; }
::-webkit-scrollbar { display: none; }

table{
    border:0px;
    margin:0px;
}
tr{
    width:100%;
}
#wrap{
    width:100vw;
    height:100%;
}
/*이미지 시퀀스 : 스크롤에 따라 반응하는 이미지*/
#img_sequence{
    position:fixed;
    /* border:4px dashed red; // 테스팅시 필요 */
    background-color: white;
    background-image: url("/res/img/1.jpg");
}
/*============================================*/
section{
    width:100%;
    height:950px;
    padding: 150px 0 150px 0;
}
#sns{
    position: relative;
    background-color:white;
    padding:0px;
}
#sns div{
    text-align: center;
    height:100%;
    width:calc(25%);
    float:left;
    /* position: absolute; */
    cursor: pointer;
}
.slide{overflow:hidden;}
.slide div{display:flex;animation:slide 8s infinite;}
#sns>div:nth-child(1){background-color: rgba(255, 251, 0, 0.596);}
#sns>div:nth-child(2){background-color: orange;}
#sns>div:nth-child(3){background-color: #2f363d;}
#sns>div:nth-child(4){background-color: pink;}
@keyframes slide {
    0% {margin-left:0;} /* 0 ~ 10  : 정지 */
    10% {margin-left:0;} /* 10 ~ 25 : 변이 */
    25% {margin-left:-100%;} /* 25 ~ 35 : 정지 */
    35% {margin-left:-100%;} /* 35 ~ 50 : 변이 */
    50% {margin-left:-200%;}
    60% {margin-left:-200%;}
    75% {margin-left:-300%;}
    85% {margin-left:-300%;}
    100% {margin-left:-300%;}
}
#sns img{
    width:200px;
    margin-top: 300px;
    vertical-align: middle;
}
.kakao img{/*이미지 크기가 다름*/
    margin-top:330px !important;
}
.inner{
    margin:0 auto;
    width: 1600px;
}
/* #intro{

    background-image: url('/res/logo.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
} */
#intro > .inner > p{
    /* background-color: #ffffff;IE8 이하 버전은 백그라운드 컬러 표시
    background-color: rgba(255,255,255,0.5); */
    position: relative;
    width:60%;
    font-size:78px;        
    color:white;
    margin-top: 100px;
    padding-top:30px;
    padding-left: 40px;
    padding-bottom: 40px;
}
.subtext{
    color:white;
    width:100%;
    padding-left:5px;
    padding-top:30px;
    font-size:25px;
}
/*============소개section==============*/
#about{
    width:100vw;
    position: relative;
    margin-bottom: 0;
}
/* #about>.inner{
    
    
} */
#about::before{
    width:1920px;
    content:"";
    background-color: black;
    top:0;
    left:0;
    right:0;
    bottom: 0;
    background-size:cover;
    opacity: 0.5;
    position: absolute;
}
#about>.inner{
    top:150px;
    position:relative;
}
.title > p{
    font-weight:bold;
    font-size:64px;
}
.photo{
    padding-top:50px;    
}
.photo > img{    
    position:center;
    width:270px;
}
.name{
    padding-top:20px;
    font-size:26px;
}
.name > p{  
    font-weight:bold;  
    font-size:40px;
}
strong:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: rgba(218, 218, 218, 0.993);
    margin: 25px 0;
}
.subname{
    font-size:20px;
}
.left{
    position: absolute;
    left:450px;
    top:100px;
    /* background-color: black; */
    /* width:360px; */
    height:600px;
}
.aboutme >p{
    font-size:45px;    
}
.aboutme{
    font-size:20px;
}
.left p{
    color:#2c96dd;
    margin-top:60px;
    padding-bottom: 10px;
}
.right{
    position: absolute;
    left:980px;
    top:160px;
    /* background-color: blue; */
    height:600px;
}
.tit{
    padding-top:70px;
    font-size: 30px;
    line-height: 1em;
    font-family: 'Montserrat', sans-serif;
    color: #00ffad;
    margin-bottom: 15px;
}
ul{
    list-style: none;
    font-size:17px;
    color:white;
    position: relative;
}
ul::before{    
    background-color: white;
    position: absolute;
}
.fc{
    color:#00ffad;
}